@{
    ViewData["Title"] = "Home Page";
    
}
@using DMBS.Data.Models
@model List<Datum>
<div class="row">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Dernek ismi</th>
            <th scope="col">Dernek Başkanı</th>
            <th scope="col">İl</th>
        </tr>
        </thead>
        <tbody>
            @foreach (Datum i in Model)
            {
                <tr>
                    <td>@i.KurumAd</td>
                    <td>@i.BaskanAdSoyad</td>
                    <td>@i.telNo</td>
                </tr>
            }
        </tbody>
    </table>
</div>
